@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Ephesis&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme: #2f4156;
  --theme-dark: #181f39;
  --theme-medium: #567c8d;
  --theme-light: #c7d9e5;
  --theme-gray: #cccccc;
  --theme-bg: #fcf8f4;
}

/* re usable tailwind styles */
@layer components {
  .input-field {
    @apply mt-2 block w-full rounded-md border border-transparent bg-white px-4 py-2.5 focus:border focus:border-emerald-400 focus:outline-none;
  }
  .input_label {
    @apply block font-bold font-theme;
  }
  .secondary_heading {
    @apply text-[28px] md:text-4xl lg:text-5xl !leading-[1.15] font-theme text-center font-medium;
  }
  .wrapped_category {
    @apply border border-themeGray rounded-full py-3 px-4 text-center leading-none;
  }
}

input[type='radio']:checked {
  accent-color: var(--theme); /* Use the theme color for active radio buttons */
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #475569 #1e293b;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
}

*::-webkit-scrollbar-thumb {
  background: #475569; /* slate-600 */
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--theme-bg);
  color: var(--theme);
  font-family: 'Manrope', sans-serif;
}

.nav-active {
  clip-path: circle(141.4% at 0 0);
}
.nav-not-active {
  clip-path: circle(0.5% at 0 0);
}

.theme_bg {
  background-image: url('/images/common/theme_abstract.png');
  background-repeat: repeat;
}

.theme_bg_abstract {
  background-image: url('/images/common/theme_bg_abstract.png');
  background-repeat: repeat;
}

.theme_bg_light {
  background-image: url('/images/common/theme_light_abstract.png');
  background-repeat: repeat;
}

.blink_skeliton {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
